.plant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .plant-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .plant-box img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .plant-box h2 {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .plant-box p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #333;
  }
  